.fondocontacto{
    padding-bottom: 30px;
    padding-top: 30px;



    .textonumero{
        font-weight: 600;
        font-size: $textogeneral;
    
    }

    .mapa{
        border-radius: 20px;
        
        
        }
}
.titulocontacto{
    font-weight: 600;
    font-size : $titulo;
    text-align: left;
}

.textocontacto{
    text-align: left;
}