.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;

    
}

.navbar-toggler:hover {
    text-decoration: none;
    background-color: rgb(40, 40, 40);
    border-radius: 50rem;
    transition: 500ms;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(236, 122, 0, 0.998);
    transition: 1000ms;
}


@media (prefers-reduced-motion: reduce) {
    .navbar-toggler {
    transition: none;
    }
}